<!DOCTYPE html>
<html>
    <head>
        <title>Not Found</title>
        <meta charset="utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <h1>Not Found</h1>
        <p>The requested URL {{ alias }} was not found on this server.</p>
        <p>
        You can search the alias from admin site <a href="{% url 'admin:redirector_urlmapping_changelist' %}?q={{ search_path|urlencode }}">here</a>.
        </p>
        {% if suggestions != None %}
        <p>
        Suggesstions:
            <ol>
                {% for i in suggestions %}
                    <li>
                        <a href="{% url 'redirect_view' path=i.alias %}">{{ i.alias }}</a>
                    </li>
                {% endfor %}
            </ol>
        </p>
        {% endif %}
    </body>
</html>
